{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block container_width %} {% if max_rooms > 6 %}container-wide{% elif max_rooms > 3 %}container-semi-wide{% else %}container-narrow{% endif %}{% endblock %}



{% block agenda_custom_header %}
{% endblock %}

{% block agenda_content %}
{% compress js %}
<script src="{% static 'common/js/tabbed.js' %}"></script>
{% endcompress %}

<span id="offline-vars" data-event="/{{ request.event.urls.schedule }}/"></span>

{% if request.event.settings.use_tracks and request.event.tracks.count > 1 %}
<!--<div id="legend">
  <i class="fa fa-dot-circle-o"></i> ?
  <ul class="tracks">
    {% for track in request.event.tracks.all %}
    <li style="color: {{ track.color }}">{{ track.name }}</li>
    {% endfor %}
  </ul>
</div>
//-->
{% endif %}

<div id="fahrplan">
    {% if schedule != schedule.event.current_schedule %}
        <div class="alert alert-warning m-3"><span>
            {% if not schedule.version %}
                {{ phrases.agenda.schedule_editable }}
            {% else %}
                {% blocktrans trimmed with current_url=schedule.event.urls.schedule %}
                    You are currently viewing an older schedule version.
                {% endblocktrans %}
            {% endif %}
            {% if request.event.current_schedule %}
                {% blocktrans trimmed with current_url=schedule.event.urls.schedule %}
                    You can find the current version <a href="{{ current_url }}">here</a>.
                {% endblocktrans %}
            {% endif %}
        </span></div>
    {% endif %}
    <div id="offline-warning" class="alert alert-danger d-none m-3"><span>
      {% blocktrans trimmed %}
      You're currently viewing an offline version of the schedule, so it may be
      outdated. <strong>Refresh</strong> this page once you have an internet
      connection to see the current schedule.
      {% endblocktrans %}
    </span></div>
    {% include "agenda/header_row.html" with with_margin=True with_extra=True %}
    <div class="h2" style="text-align:center">Workshop registration begins Friday.</div>
    
    {% comment %} <div style="text-align:center">All times for New York, NY / Eastern Daylight Time (GMT-4)</div> {% endcomment %}
    <div style="text-align:center">
    <select id="timezoneSelector" style="text-align-last: center;">
      <option value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
      <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
      <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
      <option value="US/Alaska">(GMT-09:00) Alaska</option>
      <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
      <option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
      <option value="US/Arizona">(GMT-07:00) Arizona</option>
      <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
      <option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
      <option value="America/Managua">(GMT-06:00) Central America</option>
      <option value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
      <option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
      <option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
      <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
      <option value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)</option>
      <option value="US/Eastern">(GMT-05:00) New York City, NY</option>
      <option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
      <option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
      <option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
      <option value="America/Manaus">(GMT-04:00) Manaus</option>
      <option value="America/Santiago">(GMT-04:00) Santiago</option>
      <option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
      <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
      <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
      <option value="America/Godthab">(GMT-03:00) Greenland</option>
      <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
      <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
      <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
      <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
      <option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
      <option value="Etc/Greenwich">(GMT+00:00) GMT</option>
      <option value="Etc/Greenwich">(GMT+00:00) Dublin, Edinburgh, Lisbon, London</option>
      <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
      <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
      <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
      <option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
      <option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
      <option value="Asia/Amman">(GMT+02:00) Amman</option>
      <option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
      <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
      <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
      <option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
      <option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
      <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
      <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
      <option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
      <option value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
      <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
      <option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
      <option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
      <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
      <option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
      <option value="Asia/Baku">(GMT+04:00) Baku</option>
      <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
      <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
      <option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
      <option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
      <option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
      <option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
      <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
      <option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
      <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
      <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
      <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
      <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
      <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
      <option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
      <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
      <option value="Australia/Perth">(GMT+08:00) Perth</option>
      <option value="Asia/Taipei">(GMT+08:00) Taipei</option>
      <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
      <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
      <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
      <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
      <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
      <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
      <option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
      <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
      <option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
      <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
      <option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
      <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
      <option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
      <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
    </select>
    <input type="button" id="timezoneSubmit" value="Change Timezone"/>
    </div>
    <br>






    <div class="pretalx-tabbed"><div class="pretalx-tabbed-content">
        {% if day_count > 1 %}
        <div class="pretalx-tabs">
        {% for day in data %}
            <div class="pretalx-tab">
              <label class="pretalx-tab-label" for="{{ day.start.date|date:"c" }}">
                  {{ day.start.date|date:"l" }}, {{ day.start.date|date:"F j" }}
              </label>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    {% for day in data %}
      {% if day_count > 1 %}
      <input name="tabs" id="{{ day.start.date|date:"c" }}" type="radio" {% if day.start == initial_day %}checked{% endif %}>
      {% endif %}
        <div class="pretalx-schedule-day pretalx-tab-content" data-start="{{ day.display_start|date:"c" }}">
            {% if day.first_start %}
                <div class="pretalx-schedule-day-header-row">
                    <span class="pretalx-schedule-time-column pretalx-schedule-day-header"></span>
                    {% for room in day.rooms %}
                        <div class="pretalx-schedule-day-room-header">{{ room.name }}</div>
                    {% endfor %}
                </div>
                <div class="pretalx-schedule-rooms">
                    <div class="pretalx-schedule-nowline"></div>
                    <div class="pretalx-schedule-time-column">
                        {% for hour in day.hours %}
                            <div class="pretalx-schedule-hour">{{ hour }}</div>
                        {% endfor %}
                    </div>
                    {% for room in day.rooms %}
                    <div class="pretalx-schedule-room">
                        <div class="pretalx-schedule-talk-container" style="height: {{ day.height }}px">
                            {% for talk in room.talks %}
                                {% if not schedule.is_archived and talk.submission and not talk.submission.is_deleted %}
                                  <a href="{{ talk.submission.urls.public }}">
                                {% endif %}

                                <div class="pretalx-schedule-talk{% if request.user in talk.submission.speakers.all %} talk-personal{% endif %}{% if talk.is_active %} active{% endif %}{% if search %} {% if search in talk.submission.title.lower or search in talk.submission.display_speaker_names.lower %} search-hit{% else %} search-fail{% endif %}{% endif %}{% if talk.submission.state == 'accepted' %} accepted{% endif %}{% if not talk.submission %} break{% endif %}"
                                     id="{{ talk.submission.code|default:"break" }}"
                                     {% if not talk.submission.is_deleted %}title="{{ talk.submission.title|default:talk.description }} ({{ talk.submission.display_speaker_names|default:'' }})"{% endif %}
                                     style="height: {{ talk.height }}px; min-height: {% if talk.height >= 30 %}{{ talk.height }}{% else %}30{% endif %}px; top: {{ talk.top }}px;{% if request.event.settings.use_tracks and talk.submission.track %} border-color: {{ talk.submission.track.color }}{% endif %}"
                                     data-time="{{ talk.start|date:"H:i" }}–{{ talk.end|date:"H:i" }}"
                                     data-start="{{ talk.start|date:"c" }}"
                                     data-end="{{ talk.end|date:"c" }}">
                                    <div class="pretalx-schedule-talk-content">
                                      {% if talk.submission %}
                                        {% if talk.submission.do_not_record and not talk.submission.is_deleted %}
                                            <span class="fa-stack">
                                              <i class="fa fa-video-camera fa-stack-1x"></i>
                                              <i class="fa fa-ban do-not-record fa-stack-2x" aria-hidden="true" title="{{ phrases.agenda.schedule_do_not_record }}"></i>
                                            </span>
                                        {% endif %}

                                        {% if talk.submission.is_deleted %}
                                          <span class="pretalx-schedule-talk-title">[{% trans "deleted" %}]</span>
                                        {% else %}
                                            <span class="pretalx-schedule-talk-title">{{ talk.submission.title }}</span>

                                            {% if talk.submission.speakers %}
                                              <span class="pretalx-schedule-talk-speakers">({{ talk.submission.display_speaker_names }})</span><br>
                                            {% endif %}
                                        {% endif %}
                                      {% else %}
                                            <span class="pretalx-schedule-break-title">{{ talk.description }}</span>
                                      {% endif %}
                                    </div>
                                </div>
                            {% if not schedule.is_archived and talk.submission and not talk.submission.is_deleted %}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-talks">
                    {% blocktrans with current_day=day.start.date|date:"F j" weekday=day.start.date|date:'l' trimmed %}
                      No talks on {{ weekday }}, {{ current_day }}.
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

  <script type="text/javascript">
    {% if request.session.timezone %}
    var currentTZ='{{request.session.timezone}}';
    {%else%}
    var currentTZ='US/Eastern';
    {% endif %}


   
    $('#timezoneSelector').change(function(){
      $('#timezoneSubmit').css('display','inline');
    });

    $('#timezoneSubmit').click(function(){

      $.ajax({
          url: "setTimeZone/",
          method: "POST",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {'newTimezone':$('#timezoneSelector').val()},
        }).done(function(response) {
          location.reload();
        });
     
    });

    $(document).ready(function(){
      $('#timezoneSelector').val(currentTZ);
      $('#timezoneSubmit').css('display','none');
    });


  </script>


{% compress js %}
  <script defer src="{% static "agenda/js/time.js" %}"></script>
  <script defer src="{% static "agenda/js/schedule.js" %}"></script>
  <script defer src="{% static "agenda/js/offline.js" %}"></script>
{% endcompress %}
{% endblock %}
